
@font-face {
  font-family: "GibsonSemiBold";
  src: url("asset/gibson-font/GibsonSemiBd.woff");
}
@font-face {
  font-family: "Gibson";
  src: url("asset/gibson-font/GibsonRegular.woff");
}

@font-face {
  font-family: "NeueHaasUnicaW1GMedium";
  src: url("asset/NeueHaasUnicaW1G/NeueHaasUnicaW1GMedium.ttf");
}


body{
    margin:0;
    padding:0;
    z-index: 0;
    background-color: white;
}

.Stylenav{
  color: #3740ff;
    margin: 0;
    margin-left: 18%;
}

.navbar ul li{
  padding-left: 20px;
  position: relative;
}

.navbar {
    padding: 20px;
    padding-left: 20px;
    font-family: 'NeueHaasUnicaW1GMedium';
    color: #899097;
    background-color:transparent;
    display: flex;
    align-items: center;
    font-size: 9px;
  font-weight: 500;
  line-height: 2.78;
}

.navbar ul li a{
text-decoration: none;
color: #899097;
}
.navbar ul li a:hover::after{
  content: "→";
 position: absolute;
  top: 2px;
  left: calc(50% - 12px);
  font-weight: 800;
  font-size: 15px;
color: blue;

}


li {
    display: inline-block;
    padding-right: 30px;
}

.navbar img {
    width: 40px;
    height: 40px;
    object-fit: contain;
      
}

.bg {
    width: 120px;
    height: 30px;
    border-radius: 2px;
    box-shadow: 0px 10px 25px 0 rgba(55, 64, 255, 0.15);
    background-color: #3740ff;
    margin-left: auto;
    color: white;
    font-size: 9px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.25px;
    font-family: 'NeueHaasUnicaW1GMedium';
  
    
  }

  .bg2 {
    width: 145px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0px 10px 25px 0 rgba(55, 64, 255, 0.15);
    background-color: #3740ff;
    margin-left: auto;
    color: white;
    font-size: 9px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.25px;
    font-family: 'NeueHaasUnicaW1GMedium';
  }

  .Work-with-us {
    font-family: 'NeueHaasUnicaW1GMedium';
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border: none;
    padding-bottom: 2px;
  }

header {
height: 70rem;
background-image: url(asset/img/bg@3x.png); 
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;

}

.container{
  width: 950px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
}

.left,
.right{
float: left;
width:50%;
}

.work{
 font-family: 'GibsonSemiBold';
 color: #181b31;
 font-size: 30px;
 font-weight: 600;
}

.Work-with-us2{
  padding-bottom: 2px;
  font-family: 'NeueHaasUnicaW1GMedium';
  font-size: 9px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 1.5px;
  box-shadow: 0px 10px 25px 0 rgba(55, 64, 255, 0.2);
  background-color: #3740ff
}

.right img{
  width: 75%;
}

.passionate {
  color:grey;
  font-family: 'NeueHaasUnicaW1GMedium';
  font-weight: normal;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.25px;
  color: #899097;
}

.rave-agency{
  color:#ff3f63;
  font-family: 'GibsonSemiBold';
  margin: 0 auto;
  letter-spacing: 1px;
}

.icon1{
  padding-left: 10px;
}

.rab{
  background-color: white;
  border-radius: 3px;
  padding:10px
}
.We-believe{
  font-family: 'GibsonSemiBold';
  color: #181b31;
  font-size: 18px;
}

.desining{
  font-family: 'NeueHaasUnicaW1GMedium';
  color: #899097;
  font-size: 13px;
  letter-spacing: 0.25px;
  font-weight: normal;
  line-height: 1.6;
}


.left2{
  float: left; 
  width: 60%;
}

.right2{
  float: left;
  width: 40%;
  margin:0 auto;
  margin-top: 15px;
 display: flex;
justify-content: center;
align-items: center;
margin-left: 00px;
}

.right2 img{
  width: 20%;
}

.Randall-Perez {
  width: 7.5px;
  height: 64.5px;
  margin-left: 45px;
  margin-top: 55px;
  font-family: 'GibsonSemiBold';
  font-weight: 600;
  font-size: 11px; 
  text-align: center;
  color: #181b31;
  transform: rotate(-90deg)
}

.Raves-Founder {
  margin-top: -10px;
  margin-left: -45px;
  font-family: 'NeueHaasUnicaW1GMedium';
  font-size: 8px;
  font-weight: normal;
  text-align: center;
  color: #899097;
  transform: rotate(-90deg)
}
.Who-we-are{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #2d2f37;
  font-family: 'NeueHaasUnicaW1GMedium';
}

.Round{

  border-radius: 50%;
  background-color: #3740ff;
  margin-right: 20px;
  color: #ffffff;
  border: none;
padding: 13px;
margin-top: 15px;
}
.icon-arrow{
  padding: 0px;
  margin: 0px;
  transform: rotate(180deg)
  
}

.wwa{
align-items: center;
margin-top: -200px;
}

.colonne{
 
}

.text{
  font-family: 'NeueHaasUnicaW1GMedium';
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.23px;
  color: #899097;

}

.colonne hr {
  width: 65%;
  margin-left: 0px;
}

.wRound{

  border-radius: 50%;
  background-color:white;
  margin-right: 20px;
  color: #2d2f37;
  border: none;
padding: 13px;
margin-top: 15px;
}

.clean{
  display: flex;
  flex-direction: row;
}

.right .img2 {

  margin-top: 0px;
  margin-right: 0px;
  width: 110%;
  margin-left: 0px;
  padding-left: 0px;

}
.tache img{
  position: absolute;
  margin-top: -250px;
  margin-left: -220px;
  width: 200px;
  z-index: -1;
}

.icone{
  width: 30px;
}

.white{
  background-color: white;
}
.card1{
  box-shadow: 0px 20px 100px 0 #edeef1;
}
.card2{
margin-top: 20px;
box-shadow: 0px 20px 100px 0 #edeef1;
}

.card3{
  margin-left: 20px;
  margin-top: 50px;
  box-shadow: 0px 20px 100px 0 #edeef1;
}

.card4{
  margin-left: 20px;
  margin-top :20px;
  box-shadow: 0px 20px 100px 0 #edeef1;
}
.we-got{
  margin-top: 100px ;
  margin-left: 100px;

}
.We-got-you-covered {

  font-family:'GibsonSemiBold' ;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.7px;

  color: #ff3f63;
}

.Ultimate{
  font-family:'GibsonSemiBold' ;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.20;
}

.learn{
  color: #3740ff;
  font-family: 'NeueHaasUnicaW1GMedium';
  font-size: 11px;
  font-weight: 500;
  padding-top: 10px;
}

.Selected{
  margin-top: 150px;
}

.fond-gris{
  width: 450px;
  height: 450px;
  border-radius: 7px;
  background-color: #aaaaaa;
  color: white;
}

.text-image{
  font-family: 'NeueHaasUnicaW1GMedium';
  padding-top: 20px;
  padding-left: 20px;
}
.T1{
  font-size: 12px;
  line-height: 1;
  position: relative;
}
.T2{
  font-size: 17px;
}

.img1{
  margin-top: 00px;
margin-left: -00px;
}

.img2{
  margin-top: 20px;
  margin-left: -00px;
}

.img3{
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: -150px;
}

.img4{
  margin-bottom: 0px;
  margin-left: 20px;
}
.see{
  margin-top: 70px;
  margin-left: 400px;
}
.colonne .fond-gris .arrow1::after{
content: "→";
 position: absolute;
  top: 15px;
  right: 20px;
  font-weight: 800;
  font-size: 25px

}

.fond-gris1{
  width: 279px;
  height: 275px;
  border-radius: 7px;
  background-color: #aaaaaa;
  color: white;
  margin-left: 150px;
  margin-top: 75px;
}

.fond-gris2{
  width: 225px;
  height: 225px;
  border-radius: 7px;
  background-color: #aaaaaa;
  color: white;
  margin-left: 20px;
}

.fond-gris3{
  width: 175px;
  height: 175px;
  border-radius: 7px;
  color: white;
  margin-left: 20px;
}

.left3{
  float: left;
  width: 30%;
  margin-top: 50px;
}
.right3{
  float: left;
  width: 70%;
}

.meet{
padding-left: -50px;
}

.center{
  text-align: center;
  margin-top:  200px;
  padding-bottom: 100px;
  align-items: center;
  position: relative;
  justify-content: center;
}


.background{
  background-image: url('asset/img/blank.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px auto;
}
.space{
  margin-top: 100px;
}

.vincent{
 width: 400px;
  font-family: 'GibsonSemiBold';
  font-weight: 600;
  font-size: 15px; 
  text-align: center;
  color: #181b31;
  display: flex;
  padding-top: 120px;
  padding-left: 0px ;

}

.Uber {
  margin-top: -10px;
  font-family: 'NeueHaasUnicaW1GMedium';
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  color: #899097;
}

.b1{
border-radius: 5px;
width: 475px;
height: 275px;
margin-right: 10px;
}

.b2{
  border-radius: 5px;
  width: 475px;
  height: 275px;
}

.bigger{
    font-family:'NeueHaasUnicaW1GMedium' ;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.20;
    margin: 0px;
}

.center .We-got-you-covered {
  margin: 0px;
  padding-bottom: -20px;
}

.center .Ultimate {
  margin-bottom: 10px;
}

.center .text {
  margin: 0px;
  margin-bottom: 30px;
}

.sb{
  justify-content: space-between;
}

.imagebg{
  z-index: -1;
}

.redblue{
  width: 250px;
  position: absolute;
  left: 0px;
}
.yellowblue{
  width: 250px;
  position: absolute;
  right: 0px;
}

.pinkstain{
  width: 260px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
  width: 200px;

}

.bluestr{
  position: absolute;
  width: 450px;
  right: 0%;
  top: -15%;
}

.ctrel{
  position: relative;
}

.rayures{
  left: 0%;
  position: absolute;
  width: 200px;
  top: -12%;
  left: -10%;
}